{% extends "_base.html" %}

{% block pagetitle %}About Special Issues{% endblock %}

{% block content %}
<div class="container min-h-screen">
    <div class="grid grid-cols-1 lg:grid-cols-4 min-h-screen">
        <div class="col-span-1 lg:border-r py-12 h-full">
            {% include "archives/special-issue/sidebar.html" %}
        </div>
        <div class="col-span-3 h-full">
            <div class="p-5 lg:p-12 border-b overflow-x-hidden w-screen">
                <div class="block w-6 h-1 bg-primary"></div>
                <div class="text-2xl mt-2 font-medium">About Special Issue</div>
            </div>
            <div class="p-5 lg:p-12">
                A Special Issue refers to a dedicated collection of articles within a journal that focuses on a specific topic or theme. It provides a platform for in-depth exploration and discussion of emerging areas of research or specific aspects within a field. Special Issues often aim to showcase the latest advancements, present novel findings, and encourage further investigation and collaboration within a particular subject area.
                <br><br>
                These collections are typically curated by a Lead Guest Editor, who is an expert in the field, along with a team of Guest Editors. The Guest Editors help manage the peer review process, make final decisions on submitted manuscripts, and contribute to the overall success of the Special Issue.
                <br><br>
                Special Issues offer researchers an opportunity to share their work, contribute to the existing body of knowledge, and gain visibility within their field. They provide a focused platform for researchers to delve into specific topics and facilitate knowledge dissemination and exchange among experts in the field.
                <br><br>
                Overall, Special Issues serve as a valuable resource for researchers, allowing them to delve deeper into specific subjects and contribute to the advancement of scientific knowledge within their respective fields.

                <div class="mt-5 font-medium text-2xl">Benefits of being a Guest Editor:</div>
                As a Guest Editor for a Special Issue, you can enjoy several benefits that enhance your academic profile and contribute to the advancement of your discipline. These benefits include:

                <ul class="mt-5 list-disc list-inside">
                    <li class="mt-2"><span class="font-medium">APC Waivers:</span> The Guest Editor team collectively receives two Article Processing Charge (APC) waivers. These waivers can be used to submit a maximum of two research and/or review manuscripts to their own Special Issue. The team can also utilize the waivers to commission research or review articles from experts in the field.</li>
                    <li class="mt-2"><span class="font-medium">Editorial Exemption:</span> Once all manuscripts in the Special Issue have passed the peer review process, the Guest Editor team is responsible for writing an Editorial that introduces the Special Issue. This Editorial is exempt from APC charges.</li>
                    <li class="mt-2"><span class="font-medium">Impartial Review Process:</span> To ensure fairness and impartiality, submissions to the Special Issue by the Guest Editors will be handled by members of the journal’s Editorial Board. This guarantees an unbiased evaluation of the manuscripts.</li>
                    <li class="mt-2"><span class="font-medium">Recognition:</span> In recognition of the Guest Editors’ contributions, the name of the Guest Editor who accepts a manuscript will be included in the published version of the article. This acknowledgment adds to your professional visibility and highlights your influence within the discipline.</li>
                    <li class="mt-2"><span class="font-medium">Academic Profile:</span> Serving as a Guest Editor enhances your academic profile, marking you as an influential figure in your field. It demonstrates your expertise and dedication to advancing knowledge within the discipline.</li>
                    <li class="mt-2"><span class="font-medium">Increased Visibility and Impact:</span> The Special Issue provides an opportunity to increase the visibility and impact of the work published within it. By curating a collection of high-quality articles, you contribute to the dissemination of important research and promote its recognition and citation.</li>
                    <li class="mt-2"><span class="font-medium">Scientific Communication:</span> Being a Guest Editor puts you at the forefront of scientific communication. You play a vital role in shaping the direction of research within the Special Issue, fostering collaboration, and facilitating knowledge exchange.</li>
                    <li class="mt-2"><span class="font-medium">Creative Involvement:</span> As a Guest Editor, you have the opportunity to exert your creativity in the inception and development of the topic for the Special Issue. You contribute to the intellectual growth of the field and inspire researchers to explore new avenues of investigation.</li>
                    <li class="mt-2"><span class="font-medium">Team Collaboration:</span> Working with a strong team of Editors allows you to assemble and collaborate with like-minded colleagues from around the world. This networking opportunity helps forge new connections with field leaders and fosters professional relationships.</li>
                    <li class="mt-2"><span class="font-medium">Professional Growth:</span> Handling manuscripts closely aligned with your professional interests provides valuable insight into the editorial processes of scholarly journals. This experience enhances your understanding of the publishing industry and strengthens your ability to critically evaluate research.</li>
                    <li class="mt-2"><span class="font-medium">Future Impact:</span> Seeing articles from your Special Issue referenced and cited in future research articles demonstrates the lasting impact of your contributions. It showcases the significance of the research conducted within the Special Issue and its influence on the broader scientific community.</li>
                    <li class="mt-2"><span class="font-medium">Journal Development:</span> By serving as a Guest Editor, you actively contribute to the development and growth of the journal. Your efforts help maintain the journal’s reputation, expand its readership, and foster a vibrant scholarly community.</li>
                </ul>

                Hence, being a Guest Editor for a Special Issue is a rewarding experience that allows you to shape research, connect with peers, and make a lasting impact on your field of study.
            </div>
        </div>
    </div>
</div>
{% endblock %}