<div class="mb-5 text-md flex justify-start items-center group underline-offset-4 hover:underline cursor-pointer hover:decoration-primary" onclick="location.href='{% url "special-issue-about" %}'">
    <i data-feather="chevron-right" class="text-primary"></i> About Special Issue
</div>
<div class="mb-5 text-md flex justify-start items-center group underline-offset-4 hover:underline cursor-pointer hover:decoration-primary" onclick="location.href='{% url "special-issue-propose"  %}'">
    <i data-feather="chevron-right" class="text-primary"></i> Propose a Special Issue
</div>
<div class="mb-5 text-md flex justify-start items-center group underline-offset-4 hover:underline cursor-pointer hover:decoration-primary" onclick="location.href='{% url "special-issue-open" %}'">
    <i data-feather="chevron-right" class="text-primary"></i> Open Special Issues
</div>
<div class="mb-5 text-md flex justify-start items-center group underline-offset-4 hover:underline cursor-pointer hover:decoration-primary" onclick="location.href='{% url "special-issue-published" %}'">
    <i data-feather="chevron-right" class="text-primary"></i> Published Special Issues
</div>