{% extends "_base_content.html" %} 
{% load static %} 


{% block pagetitle %}Forgot Password{% endblock %} 

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-2 h-full">
    <div class="hidden md:block col-span-1 bg-primary">
        <div class="flex justify-center items-center flex-col h-full w-full">
            <div class="max-w-md text-6xl text-light">{{ journal.name }}</div>
        </div>
    </div>
    <div class="col-span-1">
        <div class="flex justify-center items-center flex-col h-full w-full">
            <div class="text-gray-500 text-xl">Forgot Password</div>

            <div class="mt-5 w-80">{% include "_messages.html" %}</div>

            <form class="mt-5 w-80" method="POST">
                {% csrf_token %}
                <div class="mb-6">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-500 dark:text-white">Your email</label>
                    <input type="email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@example.com" required>
                </div>
                <div class="flex justify-center mb-6">
                    <button type="submit" class="author-login-submit-btn text-white bg-primary hover:bg-primaryHover focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
