{% load static %}
<div class="grid grid-cols-4">
    <div class="col-span-1">
        <img alt="Loading Image..." src="{% if editor.image %}{{ editor.image.url }}{% else %}{% static 'images/icons/user.png' %}{% endif %}" class="w-32 h-32 rounded-full" />
    </div>
    <div class="col-span-3 px-3 lg:p-5">
        <div class="text-xl lg:text-2xl">{{ editor.name }}</div>
        <div class="">{{ editor.qualification }}</div>
        <div class="">{% if editor.designation %}{{ editor.designation }} at {% endif %}{{ editor.institution }}</div>
    </div>
</div>