<div id="download-pdf-modal" class="fixed inset-0 z-50 hidden px-4 py-6 md:p-8 lg:p-12 bg-gray-900/50 dark:bg-gray-800/80 backdrop-blur-sm shadow-md transition ease-in-out duration-150">
    <div class="modal-content relative bg-white rounded-lg shadow max-w-screen-sm">
      <h2 class="text-2xl font-medium mb-4">Download PDF</h2>
      <form action="{% url 'article-download' %}" method="POST" onsubmit="handleDownloadPDF(event)">
        {% csrf_token %}
        <!-- Email Input -->
        <input id="download-pdf-modal-articleid" type="hidden" name="article_id" value="{{ article.pk }}">
        <div class="mb-4">
            <label for="email" class="block text-gray-700 font-semibold mb-2">Email Address</label>
            <input type="email" id="email" name="email" required
                   class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        
        <!-- Subscribe to Newsletter -->
        <div class="mb-4">
            <label class="inline-flex items-center">
                <input type="checkbox" id="subscribe" name="subscribe" class="form-checkbox h-5 w-5 text-gray-500" checked disabled>
                <span class="ml-2 text-gray-700">Subscribe to newsletter</span>
            </label>
        </div>

        <!-- Accept Terms & Conditions -->
        <div class="mb-4">
            <label class="inline-flex items-center">
                <input type="checkbox" id="terms" name="terms" required class="form-checkbox h-5 w-5 text-gray-500" checked disabled>
                <span class="ml-2 text-gray-700">I accept the <a href="#" class="text-blue-600 underline">Terms &amp; Conditions</a></span>
            </label>
        </div>

        <!-- Submit Button -->
        <div class="mt-6">
            <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-lg font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                Download
            </button>
        </div>
    </form>
    </div>
  </div>